* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    text-align: center;
    color: rgb(54, 39, 39);
    text-transform: capitalize;
    margin-bottom: 20px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 30px;
    width: 80%;
    max-width: 1200px;
    margin: 20px auto;
    justify-content: center;
    align-items: center;
    row-gap: 50px  ;
}

.item {
    background-color: #f1f1f1;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    height: auto;
    width: auto;
}

#Oferta {
    font-size: 24px;
    font-weight: bold;
    color: #ff4d4d;
    margin-bottom: 15px;
    display: block;
    text-transform: capitalize;
    font-weight: bold;
}

.imagemp img {
    max-width: 100%;
    height: 250px;
    width: 250px;
    border-radius: 8px;

}

.imagemp {
    margin: 20px 0;
}

.titulop {
    font-size: 20px;
    font-weight: bold;
    color: #333;
    display: block;
}

.precop {
    font-size: 20px;
    color: #28a745;
    font-weight: bold;
    text-align: left;
}
.quantidade{
    font-size: 10px;
    color: grey;
    text-transform: lowercase;
    text-align: left;
}
.avaliação{
text-align: right;
color: rgb(202, 202, 33);
}